# Salary Predictions Based on Job Descriptions

# Part 1 - DEFINE

### ---- 1 Define the problem ----

Write the problem in your own words here

In [1]:
#import your libraries
import pandas as pd
import sklearn as sk


#your info here
__author__ = "Rohit Singh Adhikari"
__email__ = "rohadhik@gmail.com"

## Part 2 - DISCOVER

### ---- 2 Load the data ----

In [2]:
#load the data into a Pandas dataframe
SALARY_TRAIN_DATAFRAME = pd.read_csv("data/train_salaries.csv")
FEATURE_TEST_DATAFRAME = pd.read_csv("data/test_features.csv")
FEATURE_TRAIN_DATAFRAME = pd.read_csv("data/train_features.csv")

In [4]:
FEATURE_TRAIN_DATAFRAME.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16

In [5]:
SALARY_TRAIN_DATAFRAME.head()

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

In [8]:
print(SALARY_TRAIN_DATAFRAME.shape)
print(FEATURE_TRAIN_DATAFRAME.shape)

(1000000, 2)
(1000000, 8)

In [11]:
TRAIN_FEATURES_DATAFRAME = pd.merge(FEATURE_TRAIN_DATAFRAME, SALARY_TRAIN_DATAFRAME, on = 'jobId')

In [13]:
TRAIN_FEATURES_DATAFRAME.shape

(1000000, 9)

In [15]:
TRAIN_FEATURES_DATAFRAME.describe()

       yearsExperience  milesFromMetropolis          salary
count   1000000.000000       1000000.000000  1000000.000000
mean         11.992386            49.529260      116.061818
std           7.212391            28.877733       38.717936
min           0.000000             0.000000        0.000000
25%           6.000000            25.000000       88.000000
50%          12.000000            50.000000      114.000000
75%          18.000000            75.000000      141.000000
max          24.000000            99.000000      301.000000

### ---- 3 Clean the data ----

In [18]:
#look for duplicate data, invalid data (e.g. salaries <=0), or corrupt data and remove it
TRAIN_FEATURES_DATAFRAME.drop_duplicates()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163
5,JOB1362684407692,COMP15,MANAGER,DOCTORAL,COMPSCI,FINANCE,2,31,113
6,JOB1362684407693,COMP15,CFO,NONE,NONE,HEALTH,23,24,178
7,JOB1362684407694,COMP24,JUNIOR,BACHELORS,CHEMISTRY,EDUCATION,9,70,73
8,JOB1362684407695,COMP20,JANITOR,HIGH_SCHOOL,NONE,EDUCATION,1,54,31
9,JOB1362684407696,COMP41,VICE_PRESIDENT,BACHELORS,CHEMISTRY,AUTO,17,68,104
10,JOB1362684407697,COMP56,JANITOR,HIGH_SCHOOL,NONE,HEALTH,24,30,102
11,JOB1362684407698,COMP7,CEO,MASTERS,PHYSICS,EDUCATION,7,79,144
12,JOB1362684407699,COMP4,JUNIOR,NONE,NONE,OIL,8,29,79
13,JOB1362684407700,COMP54,JUNIOR,MASTERS,MATH,FINANCE,21,26,193
14,JOB1362684407701,COMP57,JANITOR,NONE,NONE,AUTO,21,81,47
15,JOB1362684407702,COMP20,CTO,MASTERS,BIOLOGY,SERVICE,13,8,172
16,JOB1362684407703,COMP14,JUNIOR,MASTERS,PHYSICS,SERVICE,1,91,47
17,JOB1362684407704,COMP61,VICE_PRESIDENT,MASTERS,LITERATURE,SERVICE,23,43,126
18,JOB1362684407705,COMP58,CEO,MASTERS,LITERATURE,SERVICE,23,66,122
19,JOB1362684407706,COMP3,CEO,MASTERS,PHYSICS,EDUCATION,9,99,95
20,JOB1362684407707,COMP44,JANITOR,NONE,NONE,SERVICE,11,96,32
21,JOB1362684407708,COMP20,JUNIOR,NONE,NONE,AUTO,14,62,68
22,JOB1362684407709,COMP30,JUNIOR,BACHELORS,LITERATURE,HEALTH,18,69,105
23,JOB1362684407710,COMP38,JUNIOR,NONE,NONE,HEALTH,20,63,76
24,JOB1362684407711,COMP20,CEO,BACHELORS,NONE,WEB,12,8,202
25,JOB1362684407712,COMP27,CFO,BACHELORS,CHEMISTRY,AUTO,9,70,131
26,JOB1362684407713,COMP38,CEO,BACHELORS,COMPSCI,AUTO,24,40,158
27,JOB1362684407714,COMP34,CTO,MASTERS,BUSINESS,AUTO,9,6,130
28,JOB1362684407715,COMP11,JANITOR,HIGH_SCHOOL,NONE,FINANCE,20,23,101
29,JOB1362684407716,COMP31,SENIOR,DOCTORAL,BUSINESS,EDUCATION,1,9,82
...,...,...,...,...,...,...,...,...,...
999970,JOB1362685407657,COMP11,SENIOR,DOCTORAL,MATH,FINANCE,23,6,216
999971,JOB1362685407658,COMP62,MANAGER,NONE,NONE,SERVICE,20,19,115
999972,JOB1362685407659,COMP33,JUNIOR,NONE,NONE,EDUCATION,23,84,56
999973,JOB1362685407660,COMP58,MANAGER,DOCTORAL,LITERATURE,SERVICE,3,51,117
999974,JOB1362685407661,COMP7,MANAGER,DOCTORAL,MATH,WEB,6,83,131
999975,JOB1362685407662,COMP45,JUNIOR,HIGH_SCHOOL,NONE,OIL,9,71,97
999976,JOB1362685407663,COMP61,VICE_PRESIDENT,MASTERS,LITERATURE,SERVICE,18,72,112
999977,JOB1362685407664,COMP28,CFO,NONE,NONE,HEALTH,12,46,142
999978,JOB1362685407665,COMP53,VICE_PRESIDENT,NONE,NONE,SERVICE,18,94,93
999979,JOB1362685407666,COMP11,CFO,BACHELORS,ENGINEERING,WEB,24,82,181
999980,JOB1362685407667,COMP41,CTO,MASTERS,BIOLOGY,FINANCE,2,71,84
999981,JOB1362685407668,COMP47,CEO,MASTERS,PHYSICS,WEB,2,13,132
999982,JOB1362685407669,COMP41,JUNIOR,DOCTORAL,ENGINEERING,AUTO,24,49,113
999983,JOB1362685407670,COMP43,CTO,MASTERS,LITERATURE,AUTO,18,52,122
999984,JOB1362685407671,COMP1,CTO,NONE,NONE,SERVICE,6,20,110
999985,JOB1362685407672,COMP62,CEO,NONE,NONE,AUTO,5,13,147
999986,JOB1362685407673,COMP22,VICE_PRESIDENT,HIGH_SCHOOL,NONE,AUTO,17,14,117
999987,JOB1362685407674,COMP51,CFO,MASTERS,NONE,FINANCE,1,99,124
999988,JOB1362685407675,COMP6,JUNIOR,DOCTORAL,BUSINESS,HEALTH,4,70,79
999989,JOB1362685407676,COMP2,VICE_PRESIDENT,HIGH_SCHOOL,NONE,EDUCATION,15,89,72
999990,JOB1362685407677,COMP39,JANITOR,HIGH_SCHOOL,NONE,EDUCATION,17,23,89
999991,JOB1362685407678,COMP22,VICE_PRESIDENT,NONE,NONE,WEB,22,48,139
999992,JOB1362685407679,COMP30,MANAGER,DOCTORAL,PHYSICS,WEB,16,16,143
999993,JOB1362685407680,COMP21,CFO,MASTERS,CHEMISTRY,SERVICE,4,6,136
999994,JOB1362685407681,COMP40,CFO,BACHELORS,COMPSCI,EDUCATION,18,77,115
999995,JOB1362685407682,COMP56,VICE_PRESIDENT,BACHELORS,CHEMISTRY,HEALTH,19,94,88
999996,JOB1362685407683,COMP24,CTO,HIGH_SCHOOL,NONE,FINANCE,12,35,160
999997,JOB1362685407684,COMP23,JUNIOR,HIGH_SCHOOL,NONE,EDUCATION,16,81,64
999998,JOB1362685407685,COMP3,CFO,MASTERS,NONE,HEALTH,6,5,149
999999,JOB1362685407686,COMP59,JUNIOR,BACHELORS,NONE,EDUCATION,20,11,88

In [21]:
TRAIN_FEATURES_DATAFRAME[TRAIN_FEATURES_DATAFRAME['salary'] == 0]

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
30559,JOB1362684438246,COMP44,JUNIOR,DOCTORAL,MATH,AUTO,11,7,0
495984,JOB1362684903671,COMP34,JUNIOR,NONE,NONE,OIL,1,25,0
652076,JOB1362685059763,COMP25,CTO,HIGH_SCHOOL,NONE,AUTO,6,60,0
816129,JOB1362685223816,COMP42,MANAGER,DOCTORAL,ENGINEERING,FINANCE,18,6,0
828156,JOB1362685235843,COMP40,VICE_PRESIDENT,MASTERS,ENGINEERING,WEB,3,29,0

In [22]:
TRAIN_FEATURES_DATAFRAME[TRAIN_FEATURES_DATAFRAME['yearsExperience'] == 0]

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
45,JOB1362684407732,COMP42,VICE_PRESIDENT,MASTERS,LITERATURE,OIL,0,76,112
85,JOB1362684407772,COMP23,MANAGER,MASTERS,BIOLOGY,SERVICE,0,93,84
108,JOB1362684407795,COMP41,VICE_PRESIDENT,BACHELORS,BIOLOGY,FINANCE,0,16,117
138,JOB1362684407825,COMP38,VICE_PRESIDENT,HIGH_SCHOOL,NONE,WEB,0,10,125
175,JOB1362684407862,COMP5,CFO,NONE,NONE,WEB,0,31,123
178,JOB1362684407865,COMP55,MANAGER,DOCTORAL,MATH,OIL,0,87,85
231,JOB1362684407918,COMP55,CTO,DOCTORAL,MATH,WEB,0,19,170
243,JOB1362684407930,COMP3,CTO,MASTERS,BUSINESS,HEALTH,0,5,108
262,JOB1362684407949,COMP51,MANAGER,MASTERS,LITERATURE,AUTO,0,84,88
331,JOB1362684408018,COMP21,MANAGER,MASTERS,MATH,EDUCATION,0,2,95
354,JOB1362684408041,COMP7,JUNIOR,NONE,NONE,AUTO,0,67,55
372,JOB1362684408059,COMP43,SENIOR,HIGH_SCHOOL,NONE,SERVICE,0,97,51
398,JOB1362684408085,COMP57,SENIOR,HIGH_SCHOOL,NONE,WEB,0,58,77
447,JOB1362684408134,COMP31,JANITOR,NONE,NONE,SERVICE,0,60,33
460,JOB1362684408147,COMP11,MANAGER,DOCTORAL,MATH,SERVICE,0,11,87
465,JOB1362684408152,COMP11,MANAGER,HIGH_SCHOOL,NONE,SERVICE,0,6,92
474,JOB1362684408161,COMP20,CEO,BACHELORS,CHEMISTRY,HEALTH,0,42,124
475,JOB1362684408162,COMP23,JUNIOR,DOCTORAL,NONE,FINANCE,0,74,82
481,JOB1362684408168,COMP14,CFO,HIGH_SCHOOL,NONE,WEB,0,56,119
530,JOB1362684408217,COMP17,SENIOR,MASTERS,MATH,FINANCE,0,74,116
546,JOB1362684408233,COMP1,SENIOR,BACHELORS,NONE,OIL,0,96,78
568,JOB1362684408255,COMP9,CFO,MASTERS,MATH,EDUCATION,0,74,93
583,JOB1362684408270,COMP26,CTO,BACHELORS,LITERATURE,FINANCE,0,50,141
607,JOB1362684408294,COMP59,CEO,HIGH_SCHOOL,NONE,EDUCATION,0,9,103
611,JOB1362684408298,COMP55,CEO,BACHELORS,LITERATURE,EDUCATION,0,42,103
628,JOB1362684408315,COMP43,CTO,BACHELORS,NONE,SERVICE,0,66,90
643,JOB1362684408330,COMP22,JANITOR,HIGH_SCHOOL,NONE,OIL,0,57,76
672,JOB1362684408359,COMP53,SENIOR,HIGH_SCHOOL,NONE,OIL,0,51,97
674,JOB1362684408361,COMP48,VICE_PRESIDENT,NONE,NONE,WEB,0,64,115
682,JOB1362684408369,COMP20,JUNIOR,MASTERS,ENGINEERING,EDUCATION,0,26,85
...,...,...,...,...,...,...,...,...,...
999191,JOB1362685406878,COMP39,MANAGER,DOCTORAL,PHYSICS,OIL,0,88,89
999197,JOB1362685406884,COMP7,SENIOR,BACHELORS,MATH,HEALTH,0,61,68
999238,JOB1362685406925,COMP47,CEO,NONE,NONE,OIL,0,56,105
999312,JOB1362685406999,COMP38,MANAGER,BACHELORS,CHEMISTRY,OIL,0,13,125
999321,JOB1362685407008,COMP1,VICE_PRESIDENT,MASTERS,CHEMISTRY,FINANCE,0,52,146
999324,JOB1362685407011,COMP51,CFO,DOCTORAL,LITERATURE,SERVICE,0,95,85
999346,JOB1362685407033,COMP15,MANAGER,BACHELORS,ENGINEERING,AUTO,0,76,79
999416,JOB1362685407103,COMP12,CTO,HIGH_SCHOOL,NONE,EDUCATION,0,62,91
999437,JOB1362685407124,COMP43,CTO,DOCTORAL,COMPSCI,OIL,0,85,105
999445,JOB1362685407132,COMP25,CEO,NONE,NONE,EDUCATION,0,37,102
999446,JOB1362685407133,COMP29,SENIOR,DOCTORAL,BUSINESS,AUTO,0,81,88
999457,JOB1362685407144,COMP48,VICE_PRESIDENT,NONE,NONE,SERVICE,0,41,86
999467,JOB1362685407154,COMP46,JANITOR,NONE,NONE,OIL,0,69,41
999483,JOB1362685407170,COMP55,CEO,MASTERS,CHEMISTRY,OIL,0,28,169
999499,JOB1362685407186,COMP29,SENIOR,MASTERS,LITERATURE,OIL,0,74,88
999554,JOB1362685407241,COMP3,CEO,BACHELORS,BIOLOGY,SERVICE,0,79,117
999628,JOB1362685407315,COMP30,CTO,MASTERS,LITERATURE,AUTO,0,83,114
999644,JOB1362685407331,COMP36,VICE_PRESIDENT,MASTERS,MATH,SERVICE,0,75,82
999673,JOB1362685407360,COMP26,CFO,BACHELORS,PHYSICS,AUTO,0,68,91
999694,JOB1362685407381,COMP31,MANAGER,NONE,NONE,HEALTH,0,40,96
999705,JOB1362685407392,COMP22,MANAGER,NONE,NONE,SERVICE,0,18,80
999711,JOB1362685407398,COMP29,VICE_PRESIDENT,NONE,NONE,EDUCATION,0,76,61
999721,JOB1362685407408,COMP7,MANAGER,DOCTORAL,NONE,WEB,0,53,87
999762,JOB1362685407449,COMP26,CFO,HIGH_SCHOOL,NONE,HEALTH,0,59,103
999799,JOB1362685407486,COMP34,JANITOR,HIGH_SCHOOL,NONE,SERVICE,0,95,33
999811,JOB1362685407498,COMP56,JANITOR,NONE,NONE,FINANCE,0,76,40
999827,JOB1362685407514,COMP60,MANAGER,HIGH_SCHOOL,NONE,AUTO,0,16,62
999839,JOB1362685407526,COMP34,MANAGER,DOCTORAL,NONE,WEB,0,70,76
999915,JOB1362685407602,COMP32,JANITOR,HIGH_SCHOOL,NONE,EDUCATION,0,93,29
999928,JOB1362685407615,COMP57,CFO,DOCTORAL,MATH,WEB,0,29,162

### ---- 4 Explore the data (EDA) ----

In [3]:
#summarize each feature variable
#summarize the target variable
#look for correlation between each feature and the target
#look for correlation between features

### ---- 5 Establish a baseline ----

In [5]:
#select a reasonable metric (MSE in this case)
#create an extremely simple model and measure its efficacy
#e.g. use "average salary" for each industry as your model and then measure MSE
#during 5-fold cross-validation

### ---- 6 Hypothesize solution ----

In [ ]:
#brainstorm 3 models that you think may improve results over the baseline model based
#on your

Brainstorm 3 models that you think may improve results over the baseline model based on your EDA and explain why they're reasonable solutions here.

Also write down any new features that you think you should try adding to the model based on your EDA, e.g. interaction variables, summary statistics for each group, etc

## Part 3 - DEVELOP

You will cycle through creating features, tuning models, and training/validing models (steps 7-9) until you've reached your efficacy goal

#### Your metric will be MSE and your goal is:
 - <360 for entry-level data science roles
 - <320 for senior data science roles

### ---- 7 Engineer features  ----

In [ ]:
#make sure that data is ready for modeling
#create any new features needed to potentially enhance model

### ---- 8 Create models ----

In [15]:
#create and tune the models that you brainstormed during part 2

### ---- 9 Test models ----

In [1]:
#do 5-fold cross validation on models and measure MSE

### ---- 10 Select best model  ----

In [ ]:
#select the model with the lowest error as your "prodcuction" model

## Part 4 - DEPLOY

### ---- 11 Automate pipeline ----

In [ ]:
#write script that trains model on entire training set, saves model to disk,
#and scores the "test" dataset

### ---- 12 Deploy solution ----

In [16]:
#save your prediction to a csv file or optionally save them as a table in a SQL database
#additionally, you want to save a visualization and summary of your prediction and feature importances
#these visualizations and summaries will be extremely useful to business stakeholders

### ---- 13 Measure efficacy ----

We'll skip this step since we don't have the outcomes for the test data